body{
    margin: 0.5em;
    padding: 0.5em;
    font-family: Arial, sans-serif;
}


h2{
    color: #064beb;
    text-align: right;
    font-family: Noto Sans JP, sans-serif;
    font-size: 25px;
    margin: 3em 3em;
    line-height: 2.0;
}

p{
    color: #0d0443;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

ul{
    color: #668ad8; 
    border: double 5px #668ad8;/*二重線 太さ 色*/
    background: #f1f8ff; 
    padding: 0.5em 0.5em 0.5em 2em;
}

ul li{
    line-height: 1.5;
    padding: 0.5em 0;
}